<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
</head>



<body>
  <div style="background-color: dodgerblue; max-width: 840px; margin: 0; padding: 30px;">
    <h1 style="color: #ffffff; text-align: center"> Olá {{ name }},</h1>
    <p style="color: #ffffff;">
      Se você não pediu essa alteração, pode ignorar este e-mail tranquilamente.
      <br>
      <br>Você está recebendo este e-mail porque solicitou a redefinição da senha para sua Conta MeFormei.
      <br>
      <br>Para escolher uma senha nova e concluir sua solicitação, acesse o link abaixo:
    </p>

    <div style="margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #2979ff; border-radius: 5px">
      <a href="{{urlFront}}/definir-senha?search={{recoverToken}}" target="_blank" rel="noopener noreferrer"
        style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Alterar Senha</a>
    </div>
    <p>
      <a href="{{urlFront}}/definir-senha?search={{recoverToken}}" target="_blank" rel="noopener noreferrer"
        style=" text-decoration: none; color:rgb(20, 16, 238))3, 145)">{{urlFront}}/definir-senha?search={{recoverToken}}</a>
    </p>
    <p style="color: #ffffff;">
      Se não puder clicar nele, copie e cole a URL na barra de endereços do seu navegador.

      Você pode alterar sua senha novamente a qualquer momento, dentro do seu portal Minha Conta em <a
        style="text-decoration: none; color:rgb(38, 137, 230))3, 145)"
        href="{{urlFront}}/recuperar-senha?search={{email}}">MeFormei</a> .
    </p>
  </div>

</body>

</html>