<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
</head>



<body>
  <div class="container">
    <h1> Olá {{ name }},</h1>
    <p>
      Se você não pediu essa alteração, pode ignorar este e-mail tranquilamente.
      <br>
      <br>Você está recebendo este e-mail porque solicitou a redefinição da senha para sua Conta MeFormei.
      <br>
      <br>Para escolher uma senha nova e concluir sua solicitação, acesse o link abaixo:
    </p>
    <p><a style="text-decoration: none; color:rgb(20, 16, 238))3, 145)"
        href=`{{urlFront}}/definir-senha?search={{recoverToken}}`>`{{urlFront}}/definir-senha?search={{recoverToken}}`</a>
    </p>
    <p>
      Se não puder clicar nele, copie e cole a URL na barra de endereços do seu navegador.

      Você pode alterar sua senha novamente a qualquer momento, dentro do seu portal Minha Conta em <a
        style="text-decoration: none; color:rgb(38, 137, 230))3, 145)"
        href=`{{urlFront}}/recover-password?search={{email}}`>MeFormei</a> .
    </p>
  </div>

</body>
<style>
  .container {
    display: flex;
    padding: 2em;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: dodgerblue;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    row-gap: 21;
  }

  p {
    word-break: break-all;
    white-space: normal;
  }
</style>

</html>